.git
.github
.claude
openspec
*.md
!LICENSE.md
.hadolint.yaml
.trivyignore
.release-please-manifest.json
release-please-config.json
commitlint.config.mjs
renovate.json
docker-compose*.yml
**/bin
**/obj
**/[Tt]est[Rr]esult*
